

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: "Outfit", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar {
  width: 15px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #eee;
  border-radius: 50%;
}

ul {
  list-style-type: none;
}
h1,h4,p,a {
  color: white;
}

a {
  text-decoration: none;
}

.btn {
  padding: 12px 32px;
  font-size: 1.2rem;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
.btn-light {
  background: rgba(255, 255, 255, .2);
}
.btn:hover {
  background: rgba(255, 255, 255, .2);
}


body {
  margin: 0;
}


